# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# http client test files
*.http

# scripts
/scripts

# certificates
/certs

# db backups
/db_backups


# ide specific files
.idea

# images
/images_data

.aidigestignore